<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespcae 接口的全类名-->
<mapper namespace="xyz.leeyangy.dao.UserMapper">

    <!--    resultMap-->
    <resultMap id="userMap" type="User">
        <id column="id" property="id"></id>
        <result column="t_password" property="password"></result>
        <result column="t_name" property="name"></result>
        <result column="age" property="age"></result>
        <result column="birthday" property="birthday"></result>
    </resultMap>

    <!--    模糊查询-->
    <select id="findByLike" resultMap="userMap" parameterType="String">
        select *
        from t_user
        where t_name like concat("%", #{name}, "%");
    </select>
    <!--    动态sql查询-->
    <!--    <select id="findByDy" resultMap="userMap" parameterType="User">-->
    <!--        select * from t_user-->
    <!--        <where>-->
    <!--            <if test="id!=null">-->
    <!--                and id=#{id}-->
    <!--            </if>-->
    <!--            <if test="name!=null">-->
    <!--                and t_name=#{name}-->
    <!--            </if>-->
    <!--            <if test="password!=null">-->
    <!--                and t_password=#{password}-->
    <!--            </if>-->
    <!--            <if test="age!=null">-->
    <!--                and age=#{age}-->
    <!--            </if>-->
    <!--            &lt;!&ndash;            <if test="birthday!=null">&ndash;&gt;-->
    <!--            &lt;!&ndash;                and birthday=#{birthday}&ndash;&gt;-->
    <!--            &lt;!&ndash;            </if>&ndash;&gt;-->
    <!--        </where>-->

    <!--    </select>-->
    <!--    SELECT * FROM t_user WHERE id=30 and t_name="opq" and t_password="123" and age=2 ;-->
    <select id="findByDy" resultMap="userMap" parameterType="User">
        SELECT * FROM t_user
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="name!=null">
                and t_name=#{name}
            </if>
            <if test="password!=null">
                and t_password=#{password}
            </if>
            <if test="age!=null">
                and age=#{age}
            </if>
            <if test="birthday!=null">
                and birthday=#{birthday}
            </if>
        </where>
        ;
    </select>

    <!--    插入主键返回-->
    <insert id="addUser" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        insert into t_user (t_name, t_password, age, birthday)
        values (#{name}, #{password}, #{age}, #{birthday});
    </insert>

    <!--    id查询-->
    <select id="findById" parameterType="Integer" resultMap="userMap">
        select *
        from t_user
        where id = #{id}
    </select>

<!--    删除表  delete from table_name -->

</mapper>