<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespcae 接口的全类名-->
<mapper namespace="xyz.leeyangy.dao.UserMapper">
    <!--
            where查询
            where 会自动去掉多余and关键字
            where有一个或多个条件成立，则执行where标签内的语句
            否则执行查询全部

    -->
    <select id="findByWhere" resultMap="userMap" parameterType="User">
        select * from t_user
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="name!=null">
                and username=#{name}
            </if>
            <if test="password!=null">
                and passwd=#{password}
            </if>
            <if test="age!=null">
                and age=#{age}
            </if>
            <if test="birthday!=null">
                and birthday=#{birthday}
            </if>
        </where>
    </select>

    <!--    更新-->
    <update id="updateUser" parameterType="User">
        update t_user
        <set>
            <if test="age!=null">
                age=#{age},
            </if>
            <if test="birthday!=null">
                birthday=#{birthday},
            </if>
            <if test="name!=null">
                username=#{name},
            </if>
            <if test="password!=null">
                passwd=#{password},
            </if>
        </set>
        where id=#{id}
    </update>

    <resultMap id="userMap" type="User">
        <!--        column 对应数据库的字段名   property对应实体类名-->
        <id column="id" property="id"></id>
        <result column="username" property="name"></result>
        <result column="passwd" property="password"></result>
        <result column="age" property="age"></result>
        <result column="birthday" property="birthday"></result>
    </resultMap>


</mapper>