<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespcae 接口的全类名-->
<mapper namespace="xyz.leeyangy.dao.UserMapper">
    <!--查询所有用户-->
    <!--id和接口中的方法名一致-->
    <select id="findAll" resultMap="userMap">
        SELECT *
        from t_user
    </select>

    <!--根据用户id查询用户信息-->
    <!--parameterType 用于配置方法入参,取值是参数的数据类型-->
<!--    <select id="getUserById" parameterType="int" resultType="User">-->
<!--        SELECT *-->
<!--        from t_user-->
<!--        where id = #{id}-->
<!--    </select>-->


<!--
   resultMap  id:id唯一 对应resultMap的属性值
              type:全类名

-->

    <resultMap id="userMap" type="User">
<!--        column 对应数据库的字段名   property对应实体类名-->
        <id column="id" property="id"></id>
        <result column="t_name" property="name"></result>
        <result column="t_password" property="password"></result>
        <result column="age" property="age"></result>
        <result column="birthday" property="birthday"></result>
    </resultMap>


<!--    <select id="findById" resultMap="userResultMap">-->
<!--        select * from user where id=#{id}-->
<!--    </select>-->

</mapper>